.containerSearchInput{
    display: none;
}


/* Query */
@media(min-width:768px){
    .containerSearchInput{
        display: inline-block;
    }

    .containerSearchInput input{
        padding: 8px;
        border-radius: 5px;
        border-color: rgb(203, 197, 197);
    }

    .containerSearchInput button{
        cursor: pointer;
    margin-left: 16px;
    color: #1CA0F6;
    font-weight: bold;
    background-color: #fff;
    border: none;
    /* border-radius: 999px; */
    padding: 5px 10px;
    transition: .3s ease background-color;
    }

    .containerSearchInput .btnSearchBar:hover{
      border-bottom: 4px solid palevioletred;
      opacity: .8;
    }
}